.progress-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.reset-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	> div {
		width: 300px;
		overflow: hidden;
		display: flex;
		> div {
            transition: 0.3s;
			form {
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 300px;
				> p {
					> i {
						color: white;
						font-size: 18px;
					}
					> span {
						color: white;
						font-size: 14px;
						font-style: italic;
					}
				}
				> input {
					width: 100%;
					padding: 8px 15px;
					font-family: "Roboto";
					margin: 10px 0px;
					margin-top: 30px;
					border: 1px solid rgba(255, 255, 255, 0.3);
					background: green;
					border-radius: 5px;
					outline: none;
					font-size: 18px;
					color: white;
					text-align: start;
				}
				input::placeholder {
					color: rgba(255, 255, 255, 0.688);
				}
				> button {
					width: 50%;
					padding: 8px;
					margin: 10px 0px;
					border: 1px solid rgba(255, 255, 255, 0.3);
					border-radius: 5px;
					outline: none;
					background: transparent;
					font-family: "Roboto";
					color: white;
					font-size: 12px;
					cursor: pointer;
					&:hover {
						background-color: rgb(0, 94, 27);
					}
					> h2 {
						> i {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
	.email-form {
		display: block;
	}
    .m-00{
        margin-left: -00px;
    }
    .m-300{
        margin-left: -300px;
    }
    .m-600{
        margin-left: -600px;
    }

	.otp-verify-form {
		transition: 0.3s;
		display: block;
	}
	.reset-password-form {
		transition: 0.3s;
		display: block;
	}
}
